/* GENERAL STYLES */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
}

/* MOBILE DROPDOWN MENU */
#mobile-menu {
  background-color: #f8f8f8;
}

#mobile-menu ul.nav > li > a {
  color: #333;
  border-bottom: 1px solid #ddd;
}

#mobile-menu ul.nav > li > a:hover {
  background-color: #e7e7e7;
}

/* PAGE HEADING */
h1 {
  margin: 30px 0;
  font-weight: bold;
}

/* MENU BOXES */
.menu-item {
  background-color: #d9d9d9;
  border: 1px solid #999;
  padding: 15px;
  margin-bottom: 20px;
  height: 100%;
}

/* HEADINGS INSIDE BOXES */
.menu-item h3 {
  margin-top: 0;
  font-weight: bold;
}

/* RESPONSIVE BEHAVIOR */
@media (max-width: 767px) {
  .menu-item {
    margin-bottom: 20px;
  }
}
